<div id="myCarousel" class="vertical-slider carousel vertical slide col-md-12" data-ride="carousel" style="width:initial;">
    <div class="row" style="height:15%;">
        <div class="col-md-12" style="margin-right:32%;margin-top: 7%;">
            <span data-slide="next" class="btn-vertical-slider glyphicon glyphicon-circle-arrow-up " style="font-size: 30px"></span>
        </div>
        <div class="col-md-8">
        </div>
    </div>
    <!-- Carousel items -->
    <div class="row" style="height:50%;padding-top:12%;">
        <div class="carousel-inner" style="border-radius:8px;height:100px;">
            <div class="item" style="height: 100%;">
                <div class="row" style="height: 100%;">
                    <div class="col-xs-6 col-sm-5 col-md-5" style="width: 100%;">
                        <a href="#"> <img src="~/Content/img/8.jpg" class="img-responsive" style="height: 100%;" alt="Image"></a>
                    </div>
                </div>
                <!--/row-fluid-->
            </div>
            <!--/item-->
            <div class="item" style="height: 100%;">
                <div class="row" style="height: 100%;">
                    <div class="col-xs-6 col-sm-5 col-md-5" style="width: 100%;">
                        <a href="#"> <img src="~/Content/img/6.jpg" class="img-responsive" style="height: 100%;" alt="Image"></a>
                    </div>
                </div>
                <!--/row-fluid-->
            </div>
            <!--/item-->
            <div class="item active" style="height: 100%;">
                <div class="row" style="height: 100%;">
                    <div class="col-xs-6 col-sm-5 col-md-5" style="width: 100%;">
                        <a href="#"> <img src="~/Content/img/5.jpg" class="img-responsive" style="height: 100%;" alt="Image"></a>
                    </div>
                </div>
                <!--/row-fluid-->
            </div>
            <!--/item-->
        </div>
    </div>


    <div class="row" style="height:15%;">
        <div class="col-md-12" style="margin-right:32%;padding-top:12%;">
            <span data-slide="prev" class="btn-vertical-slider glyphicon glyphicon-circle-arrow-down" style="color: Black;font-size: 30px;"></span>
        </div>
        <div class="col-md-8">
        </div>
    </div>
</div>