@model ClientWeb.Models.DataModels.ScriptsModel
@{
    string lang = TempData["lang"].ToString();
}
<div class="list-group">
    <span href="#" class="list-group-item active">
        @(lang == "FA" ? Model.ScriptName : lang == "EN" ? "Daily image" : lang == "TR" ? "Günlük görüntü" : "الصورة اليومية")
        <span class="pull-right" id="slide-submenu">
        </span>
    </span>
    <div style="margin-top:10px;">
        @Html.Raw(Model.Script)
    </div>
</div>
