
@section SliderCSS{
    <link href="@TempData["WebsiteThemePath"]plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />
}

@section jsForThisPage{
    <!-- SWIPER SLIDER -->
    <script type="text/javascript" src="@TempData["WebsiteThemePath"]plugins/slider.swiper/dist/js/swiper.min.js"></script>
    <script type="text/javascript" src="@TempData["WebsiteThemePath"]js/view/demo.swiper_slider.js"></script>


}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: center;font-size: 25px; color: #253b80;margin: 60px 0;">
                <span>⚠️ این صفحه به زودی در دسترس قرار خواهد گرفت ! ⚠️</span>
            </div>
        </div>
    </div>
</section>

