<div class="color-switcher" id="choose_color">
    <a href="#" class="picker_close"><i class="fa fa-angle-right"></i></a>
    <h5>ویرایش رنگ</h5>
    <div class="theme-colours">
        <ul>
            <li>
                <a href="#" class="defualt" id="defualt" title="Green"></a>
            </li>
            <li>
                <a href="#" class="red" id="red" title="Red"></a>
            </li>
            <li>
                <a href="#" class="see-green" id="see-green" title="See Green"></a>
            </li>
            <li>
                <a href="#" class="blue" id="blue" title="Blue"></a>
            </li>
            <li>
                <a href="#" class="mustard-brown" id="mustard-brown" title="Mustard Brown"></a>
            </li>
            <li>
                <a href="#" class="golden" id="golden" title="Golden"></a>
            </li>
        </ul>
    </div>
    <div class="clr"> </div>
</div>