<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
            <div class="col-md-10 col-sm-12 col-xs-12">
                <i class="icon-trophy"></i>
                <div class="heading-detail">
                    <h3>فن بازار چیست ؟</h3>
                    <p style="text-align:justify;">
                        فن‌بازار به معنای بازار فناوری، محلی برای مبادلات فناوری است. در واقع فن‌بازار یك بنگاه معاملات فناوری است كه با ایفای نقش واسطه اطلاعاتی و حقوقی، وظیفه نزدیك كردن طرف‌های «عرضه» و «تقاضا» در حوزه فناوری و محصولات پیشرفته را بر عهده دارد.
                        شناسایی و ارائه فرصت‌های سرمایه‌گذاری در حوزه فناوری، جلب سرمایه‌گذاران، تسهیل روند تجاری‌سازی دانش‌فنی و سایر فعالیت‌های حرفه‌ای كه منجر به «توسعه بازار فناوری» می‌شود از جمله نقش‌های اساسی فن‌بازارها است. در دنیا فن‌بازارها به سه دسته فن‌بازارهای اطلاعات فناوری، فن‌بازارهای انتقال فناوری و فن‌بازارهای تركیبی تقسیم‌بندی می‌شوند.
                    </p>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12" style="margin-top: 40px;"> <a class="btn btn-default btn-block" href="@Url.Action("Introduction","Home")">اطلاعات بیشتر<i class="fa fa-angle-double-right"></i></a> </div>
        </div>
    </div>
</div>