@model ClientWeb.Models.DataModels.ContactManagementModel
<div class="col-md-7 col-sm-6 hidden-xs">
    <div class="header-top-left header-top-info">
        <p class="hidden-sm"><a><i class="fa fa-phone"></i>@Model.PhoneInput</a></p>
        <p><a href="mailto: @Model.EmailInput"><i class="fa fa-envelope"></i>@Model.EmailInput</a></p>
    </div>
</div>