@{
    Layout = null;
}
@if (ViewBag.ShekayatSuccess != null)
{
    <div class="alert alert-success" style="background-color: #4e9931;border-color: #295900;">
        <p style="font-size: 15px;">@ViewBag.ShekayatSuccess</p>
    </div>
}
@if (ViewBag.ShekayatError != null)
{
    <div class="alert alert-danger" style="background-color: #f14b4b;border-color: #de0528;">
        <p style="font-size: 15px;">@ViewBag.ShekayatError</p>
    </div>
}
@if (ViewBag.ShekayatWarning != null)
{
    <div class="alert alert-warning">
        <p style="font-size: 15px;">@ViewBag.ShekayatWarning</p>
    </div>
}