<div class="col-sm-12 text-center">
    <div class="alert alert-@(ViewBag.Alert as string).Split(',')[1]">
        <p>@(ViewBag.Alert as string).Split(',')[0]</p>
        <i class="icons icon-cancel-circle-1"></i>
    </div>
</div>