@model ClientWeb.Models.DataModels.ScriptsModel
<div class="block left-module">
    <p class="title_block">تصویر روز</p>
    <div class="block_content">
        <!-- layered -->
        <div class="layered">
            <div class="layered-content">
                @Html.Raw(Model.Script)
            </div>
        </div>
        <!-- ./layered -->
    </div>
</div>