@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="background-color: #08ebeb;">
    <div style="text-align: center;margin-top: 300px;font-size: 55px;color:#fffdfd;">
    صفحه مورد نظر یافت نشد
    </div>
</body>
</html>
