@if (ViewBag.Alert == "Success")
{
    <div class="success" style="padding: 5px 45px 0; margin-top: 10px;background-color: #cef5be;border-radius: 25px; color:white;">
        <p>حساب کاربری مورد نظر با موفقیت ثبت شد</p>
    </div>
}
else
{
    <div class="alert-box error" style="padding:5px 45px 0;margin-top: 10px;background-color: #ff9595;border-radius: 25px;color:white;">
        <p>خطا در ساخت حساب کاربری، لطفا مجددا تلاش کنید</p>
    </div>
}
