@if (ViewBag.Alert == "success")
{
    <div class="success" style="padding: 7px 45px 0; margin-top: 10px;background-color: #b2d233;color:white;">
        <p>اطلاعات مورد نظر با موفقیت ثبت شد</p>
    </div>
}
else
{
    <div class="alert-box error" style="padding:7px 45px 0;margin-top: 10px;background-color: #c20b35;color:white;">
        <p>خطا در ثبت اطلاعات، لطفا مجددا تلاش کنید</p>
    </div>
}
