@model ClientWeb.Models.DataModels.ScriptsModel
<div class="block left-module">
    @*<p class="title_block">@Model.ScriptName</p>*@
    <div class="block_content">
        <div class="layered layered-category">
            <div class="layered-content">
                @Html.Raw(Model.Script)
            </div>
        </div>
    </div>
</div>